openapi: 3.1.0
info:
  title: Koji API
  version: 1.0.0-draft
  summary: Document extraction platform API — hosted cloud and self-hosted OSS.
  description: |
    The Koji API. Documents in, structured data out.

    This spec is the contract surface for the Koji product across the hosted
    platform (`api.getkoji.cloud`), the self-hosted OSS distribution, and
    enterprise / BYOC deployments. Every dashboard surface, every CLI command,
    and every public integration eventually maps to an operation defined here.

    This document is the **source of truth** for:

    - The REST API exposed by `platform/apps/hosted` (Cloudflare Workers).
    - Generated TypeScript types consumed via `@koji/types/api`.
    - Server-side request/response validation (Zod or equivalent middleware
      generated from this spec).
    - Public documentation rendered on `getkoji.dev/docs/reference/api`.

    The endpoint inventory follows `docs/specs/api-endpoints.md` §3 through §15.
    Resource shapes follow `docs/specs/database-schema.md`, stripped of fields
    that are purely internal (`tenant_id`, `deleted_at`, raw auth blobs, hashed
    secrets, etc.).

    **Status:** first-draft contract for Wave 0 of the platform roadmap. Exact
    request/response shapes are stable enough to generate clients and type
    stubs against, but may still be refined as the first endpoints land. Any
    breaking change bumps this doc and the consumers in lock-step.
  contact:
    name: Koji
    url: https://getkoji.dev
    email: support@getkoji.dev
  license:
    name: Proprietary (hosted); Apache-2.0 (OSS core)
    url: https://github.com/getkoji/koji/blob/main/LICENSE

servers:
  - url: https://api.getkoji.cloud/v1
    description: Hosted platform (production)
  - url: http://localhost:9400/v1
    description: Self-hosted OSS default
  - url: '{baseUrl}/v1'
    description: Enterprise / BYOC deployment
    variables:
      baseUrl:
        default: https://koji.internal.example.com
        description: The deployment's base URL (up to but not including `/v1`).

security:
  - apiKey: []
  - sessionCookie: []

tags:
  - name: Health
    description: Liveness and readiness probes. Unauthenticated.
  - name: Session
    description: Current user, login, and logout.
  - name: Projects
    description: |
      Top-level tenant containers. `project` and `tenant` are the same entity;
      the URL uses the friendlier `project` term.
  - name: Schemas
    description: Schema definitions and versioned YAML.
  - name: Schema samples
    description: Build-mode scratch documents used for iterative authoring.
  - name: Corpus
    description: Committed test set with ground truth per schema.
  - name: Validate & Benchmarks
    description: Run a schema against its corpus and compare to baselines.
  - name: Pipelines
    description: Ingress → classify → extract → emit stage graphs.
  - name: Sources
    description: Inbound document sources (S3, webhook, email, FTP).
  - name: Jobs
    description: Pipeline execution records and per-document results.
  - name: Document traces
    description: Per-document lifecycle and stage-level observability.
  - name: Review queue
    description: Low-confidence fields and validation failures flagged for human review.
  - name: Model endpoints
    description: Configured AI model endpoints (OpenAI, Azure, Bedrock, Ollama, etc.).
  - name: Agent
    description: Context-aware agent sessions per dashboard surface.
  - name: Playground
    description: Anonymous marketing-facing extraction demo. Rate-limited.
  - name: Audit log
    description: Append-only record of every mutation. Admin-only reads.
  - name: API keys
    description: Machine credentials for CLI and server-to-server integrations.
  - name: Webhooks out
    description: |
      Outbound webhook target management. Endpoints here are inferred from
      `api-endpoints.md` §5.4 and `database-schema.md` §13. Marked TODO in
      the spec doc pending formal §3.17 design.

paths:
  # ==========================================================================
  # §3.1 Health & session
  # ==========================================================================

  /health:
    get:
      operationId: getHealth
      tags: [Health]
      summary: Liveness check
      description: Returns process-level liveness. Does not check downstream dependencies.
      security: []
      responses:
        '200':
          description: Service is alive.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'

  /ready:
    get:
      operationId: getReadiness
      tags: [Health]
      summary: Readiness check
      description: |
        Verifies that downstream dependencies (database, configured model
        endpoints, object storage) respond within timeout budgets.
      security: []
      responses:
        '200':
          description: All checks passed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadinessStatus'
        '503':
          description: One or more dependencies are unavailable.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'

  /me:
    get:
      operationId: getCurrentUser
      tags: [Session]
      summary: Current user
      description: |
        Returns the authenticated user plus every tenant/project the user has
        access to and the roles held on each.
      responses:
        '200':
          description: Current session user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentUser'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/session:
    post:
      operationId: createSession
      tags: [Session]
      summary: Log in
      description: |
        Adapter-specific login. The body shape depends on the configured auth
        adapter (local credentials, OIDC callback, SAML assertion, Clerk
        webhook, etc.). The response is a standard session envelope plus any
        provider-specific redirect state.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Session established.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    delete:
      operationId: deleteSession
      tags: [Session]
      summary: Log out
      description: Invalidates the current session. Idempotent.
      responses:
        '204':
          description: Session invalidated (or was already invalid).
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ==========================================================================
  # §3.2 Projects
  # ==========================================================================

  /projects:
    get:
      operationId: listProjects
      tags: [Projects]
      summary: List projects the current user can access
      responses:
        '200':
          description: Project memberships for the current user.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProjectSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createProject
      tags: [Projects]
      summary: Create a project
      description: Creates a new project within the current tenant. Requires `tenant-owner`.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequest'
      responses:
        '201':
          description: Project created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimited'

  /projects/{projectSlug}:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
    get:
      operationId: getProject
      tags: [Projects]
      summary: Project detail
      responses:
        '200':
          description: Project found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateProject
      tags: [Projects]
      summary: Update project metadata
      description: Requires `project-admin`.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProjectRequest'
      responses:
        '200':
          description: Project updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteProject
      tags: [Projects]
      summary: Delete a project (permanent)
      description: |
        Requires `tenant-owner`. Soft-deletes the project and schedules a
        90-day window before hard deletion. **Dangerous — there is no UI
        undo beyond the recovery window.**
      responses:
        '204':
          description: Project deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{projectSlug}/metrics:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - name: period
        in: query
        required: false
        description: Aggregation window. Defaults to `24h`.
        schema:
          type: string
          enum: [1h, 24h, 7d, 30d]
          default: 24h
    get:
      operationId: getProjectMetrics
      tags: [Projects]
      summary: Overview metrics strip
      description: |
        Powers the **Overview** page metrics strip. Aggregates accuracy,
        throughput, latency, cost, and error rate across the requested window.
      responses:
        '200':
          description: Aggregated metrics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectMetrics'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{projectSlug}/activity:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Since'
    get:
      operationId: listProjectActivity
      tags: [Projects]
      summary: Recent project activity feed
      description: |
        Powers the **Overview** activity feed. Returns recent events
        (jobs completed, deploys, review decisions, drift alerts).
      responses:
        '200':
          description: Activity events.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ActivityEvent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{projectSlug}/alerts:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
    get:
      operationId: listProjectAlerts
      tags: [Projects]
      summary: Open project alerts
      description: |
        Powers the **Overview → Attention** panel. Drift alerts, review-queue
        backlogs, pending schema proposals, failing sources.
      responses:
        '200':
          description: Open alerts.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProjectAlert'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{projectSlug}/users:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
    get:
      operationId: listProjectUsers
      tags: [Projects]
      summary: List project members
      responses:
        '200':
          description: Members.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProjectMember'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: addProjectUser
      tags: [Projects]
      summary: Invite or add a project member
      description: Requires `project-admin`.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteUserRequest'
      responses:
        '201':
          description: Invitation created or existing user added.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectMember'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'

  /projects/{projectSlug}/users/{userId}:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/UserId'
    patch:
      operationId: updateProjectUser
      tags: [Projects]
      summary: Change a member's roles
      description: Requires `project-admin`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMemberRolesRequest'
      responses:
        '200':
          description: Roles updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectMember'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: removeProjectUser
      tags: [Projects]
      summary: Remove a member from a project
      description: Requires `project-admin`.
      responses:
        '204':
          description: Member removed.
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ==========================================================================
  # §3.3 Schemas
  # ==========================================================================

  /projects/{projectSlug}/schemas:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
    get:
      operationId: listSchemas
      tags: [Schemas]
      summary: List schemas in a project
      description: |
        Powers the top-bar **schema picker** dropdown. Returns a fast, compact
        summary for each schema with current version, health, and document
        counts.
      responses:
        '200':
          description: Schemas.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SchemaSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createSchema
      tags: [Schemas]
      summary: Create a schema
      description: |
        Creates a new schema within the project. Requires `schema-write`. The
        schema may be seeded from blank, from a Playground session, or from a
        public template.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSchemaRequest'
      responses:
        '201':
          description: Schema created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'

  /projects/{projectSlug}/schemas/{schemaSlug}:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/SchemaSlug'
    get:
      operationId: getSchema
      tags: [Schemas]
      summary: Schema detail
      description: |
        Returns the schema plus the current version's YAML and any unsaved
        Build-mode draft.
      responses:
        '200':
          description: Schema detail.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateSchemaDraft
      tags: [Schemas]
      summary: Update Build-mode draft YAML
      description: |
        Updates the in-progress draft YAML for this schema without committing
        a new version. Requires `schema-write`. Committing is a separate
        operation (`POST …/versions`).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSchemaDraftRequest'
      responses:
        '200':
          description: Draft updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      operationId: deleteSchema
      tags: [Schemas]
      summary: Archive a schema
      description: |
        Soft-delete. Pipelines that still reference the schema begin failing
        their routing stage; recover with an admin restore action within 90 days.
      responses:
        '204':
          description: Schema archived.
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /projects/{projectSlug}/schemas/{schemaSlug}/versions:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/SchemaSlug'
    get:
      operationId: listSchemaVersions
      tags: [Schemas]
      summary: List schema versions
      responses:
        '200':
          description: Versions.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SchemaVersionSummary'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: commitSchemaVersion
      tags: [Schemas]
      summary: Commit the draft as a new version
      description: |
        Promotes the current draft YAML to an immutable version (`vN+1`).
        Requires `schema-write`. The request may optionally update
        `current_version_id` to the new version.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommitSchemaVersionRequest'
      responses:
        '201':
          description: Version committed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaVersion'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /projects/{projectSlug}/schemas/{schemaSlug}/versions/{versionNumber}:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/SchemaSlug'
      - $ref: '#/components/parameters/VersionNumber'
    get:
      operationId: getSchemaVersion
      tags: [Schemas]
      summary: Specific schema version
      responses:
        '200':
          description: Version detail.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaVersion'
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{projectSlug}/schemas/{schemaSlug}/versions/{versionNumber}/rollback:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/SchemaSlug'
      - $ref: '#/components/parameters/VersionNumber'
    post:
      operationId: rollbackSchemaVersion
      tags: [Schemas]
      summary: Rollback to an older version
      description: |
        Creates a new version (`vN+1`) that clones the YAML of the target
        version and optionally updates `current_version_id`. Immutability is
        preserved — the older version is never modified.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RollbackSchemaVersionRequest'
      responses:
        '201':
          description: Rollback committed as a new version.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaVersion'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{projectSlug}/schemas/{schemaSlug}/deploy:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/SchemaSlug'
    post:
      operationId: deploySchema
      tags: [Schemas]
      summary: Deploy a schema version
      description: |
        Maps to the `koji deploy` CLI. Sets the deployed version for the
        target environment. In single-env deployments, the `environment`
        parameter may be omitted.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeploySchemaRequest'
      responses:
        '200':
          description: Deployed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentStatus'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  # ==========================================================================
  # §3.4 Schema samples (Build mode)
  # ==========================================================================

  /projects/{projectSlug}/schemas/{schemaSlug}/samples:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/SchemaSlug'
    get:
      operationId: listSchemaSamples
      tags: [Schema samples]
      summary: List samples attached to a schema
      responses:
        '200':
          description: Samples.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SchemaSample'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: uploadSchemaSample
      tags: [Schema samples]
      summary: Upload a sample document
      description: |
        Build-mode scratch upload. Requires `schema-write`. Samples live for
        ~30 days via bucket lifecycle and are not part of the corpus.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: The document file.
                filename:
                  type: string
                  description: Optional override for the displayed filename.
      responses:
        '201':
          description: Sample uploaded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaSample'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '413':
          description: File too large.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'

  /projects/{projectSlug}/schemas/{schemaSlug}/samples/{sampleId}:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/SchemaSlug'
      - $ref: '#/components/parameters/SampleId'
    delete:
      operationId: deleteSchemaSample
      tags: [Schema samples]
      summary: Remove a sample document
      responses:
        '204':
          description: Sample deleted.
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{projectSlug}/schemas/{schemaSlug}/samples/{sampleId}/test:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/SchemaSlug'
      - $ref: '#/components/parameters/SampleId'
    post:
      operationId: testSchemaSample
      tags: [Schema samples]
      summary: Run the current draft against a sample
      description: |
        Powers **Build mode**'s live extraction. Runs the current draft YAML
        (not a committed version) against the sample document and returns the
        extraction result, per-field confidence, and provenance. Debounced and
        cached server-side when Build mode's auto-run toggle is on.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SampleTestRequest'
      responses:
        '200':
          description: Extraction result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SampleTestResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimited'

  # ==========================================================================
  # §3.5 Schema corpus
  # ==========================================================================

  /projects/{projectSlug}/schemas/{schemaSlug}/corpus:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/SchemaSlug'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      - name: tag
        in: query
        required: false
        description: Filter entries by tag (repeatable).
        schema:
          type: array
          items:
            type: string
        style: form
        explode: true
    get:
      operationId: listCorpusEntries
      tags: [Corpus]
      summary: List corpus entries for a schema
      description: Powers the **Corpus** page list.
      responses:
        '200':
          description: Corpus entries.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CursorPage'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/CorpusEntrySummary'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: uploadCorpusEntry
      tags: [Corpus]
      summary: Upload a new corpus document with ground truth
      description: Requires `schema-write`.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file, ground_truth]
              properties:
                file:
                  type: string
                  format: binary
                ground_truth:
                  type: string
                  description: JSON-encoded ground-truth document for the extraction.
                tags:
                  type: string
                  description: Comma-separated tag list (e.g. `normal,edge`).
      responses:
        '201':
          description: Entry created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorpusEntry'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          description: File too large.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'

  /projects/{projectSlug}/schemas/{schemaSlug}/corpus/promote-from-review:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/SchemaSlug'
    post:
      operationId: promoteReviewToCorpus
      tags: [Corpus]
      summary: Promote a resolved review item to a corpus entry
      description: |
        Creates a corpus entry from a resolved review item, using the
        reviewer's final value as the ground truth. Requires `schema-write`.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromoteFromReviewRequest'
      responses:
        '201':
          description: Corpus entry created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorpusEntry'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{projectSlug}/schemas/{schemaSlug}/corpus/{corpusEntryId}:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/SchemaSlug'
      - $ref: '#/components/parameters/CorpusEntryId'
    get:
      operationId: getCorpusEntry
      tags: [Corpus]
      summary: Corpus entry detail with ground truth
      responses:
        '200':
          description: Entry detail.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorpusEntry'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateCorpusEntry
      tags: [Corpus]
      summary: Edit ground truth or metadata
      description: |
        Rare operation. Requires `schema-write`. Every mutation is audit-logged
        and forces all downstream runs to re-score against the new ground truth.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCorpusEntryRequest'
      responses:
        '200':
          description: Updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorpusEntry'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteCorpusEntry
      tags: [Corpus]
      summary: Remove a corpus entry
      responses:
        '204':
          description: Entry removed.
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{projectSlug}/schemas/{schemaSlug}/corpus/{corpusEntryId}/retag:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/SchemaSlug'
      - $ref: '#/components/parameters/CorpusEntryId'
    post:
      operationId: retagCorpusEntry
      tags: [Corpus]
      summary: Replace the tag set on a corpus entry
      description: |
        Tags drive Validate and Benchmark filters (`normal`, `adversarial`,
        `edge`, `held_out`, `regression`). Replaces the existing tag array
        wholesale.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetagRequest'
      responses:
        '200':
          description: Tags updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorpusEntry'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{projectSlug}/schemas/{schemaSlug}/corpus/{corpusEntryId}/history:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/SchemaSlug'
      - $ref: '#/components/parameters/CorpusEntryId'
    get:
      operationId: getCorpusEntryHistory
      tags: [Corpus]
      summary: Per-version pass/fail timeline for a corpus doc
      description: Powers the version-history timeline on the Corpus detail panel.
      responses:
        '200':
          description: History.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CorpusHistoryPoint'
        '404':
          $ref: '#/components/responses/NotFound'

  # ==========================================================================
  # §3.6 Validate & Benchmarks
  # ==========================================================================

  /projects/{projectSlug}/schemas/{schemaSlug}/validate:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/SchemaSlug'
    post:
      operationId: triggerValidateRun
      tags: [Validate & Benchmarks]
      summary: Trigger a validate run
      description: |
        Enqueues a validate run against the corpus. Requires `schema-write`.
        Returns `202` with a run ID; poll `GET .../validate/runs/{runId}` for
        progress.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TriggerRunRequest'
      responses:
        '202':
          $ref: '#/components/responses/Accepted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{projectSlug}/schemas/{schemaSlug}/validate/runs:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/SchemaSlug'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
    get:
      operationId: listValidateRuns
      tags: [Validate & Benchmarks]
      summary: List validate runs for a schema
      responses:
        '200':
          description: Runs.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CursorPage'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/SchemaRunSummary'
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{projectSlug}/schemas/{schemaSlug}/validate/runs/{runId}:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/SchemaSlug'
      - $ref: '#/components/parameters/RunId'
    get:
      operationId: getValidateRun
      tags: [Validate & Benchmarks]
      summary: Run detail with aggregate + per-doc results
      description: Powers the **Validate** mode results panel.
      responses:
        '200':
          description: Run detail.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaRun'
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{projectSlug}/schemas/{schemaSlug}/validate/runs/{runId}/regressions:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/SchemaSlug'
      - $ref: '#/components/parameters/RunId'
    get:
      operationId: listRunRegressions
      tags: [Validate & Benchmarks]
      summary: Regression-only view for a run
      description: Entries that passed the baseline version but fail this run.
      responses:
        '200':
          description: Regressions.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RegressionEntry'
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{projectSlug}/schemas/{schemaSlug}/validate/runs/{runId}/dismiss:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/SchemaSlug'
      - $ref: '#/components/parameters/RunId'
    post:
      operationId: dismissRunRegression
      tags: [Validate & Benchmarks]
      summary: Dismiss a regression
      description: Annotates a regression as expected or accepted. Requires `schema-write`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DismissRegressionRequest'
      responses:
        '204':
          description: Dismissed.
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{projectSlug}/schemas/{schemaSlug}/benchmarks:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/SchemaSlug'
    get:
      operationId: getBenchmarkHeadline
      tags: [Validate & Benchmarks]
      summary: Aggregate benchmark metrics
      description: Powers the **Benchmarks** headline metrics card.
      responses:
        '200':
          description: Aggregate metrics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenchmarkHeadline'
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{projectSlug}/schemas/{schemaSlug}/benchmarks/trend:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/SchemaSlug'
      - name: versions
        in: query
        required: false
        description: Maximum number of versions to include in the trend (most recent first).
        schema:
          type: integer
          minimum: 2
          maximum: 100
          default: 20
    get:
      operationId: getBenchmarkTrend
      tags: [Validate & Benchmarks]
      summary: Per-version accuracy trajectory
      responses:
        '200':
          description: Trend points.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BenchmarkTrendPoint'
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{projectSlug}/schemas/{schemaSlug}/benchmarks/fields:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/SchemaSlug'
    get:
      operationId: getBenchmarkFieldMatrix
      tags: [Validate & Benchmarks]
      summary: Per-field × per-version heatmap
      description: Powers the **Benchmarks** field heatmap.
      responses:
        '200':
          description: Field × version accuracy matrix.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenchmarkFieldMatrix'
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{projectSlug}/schemas/{schemaSlug}/benchmarks/models:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/SchemaSlug'
    get:
      operationId: getBenchmarkModelComparison
      tags: [Validate & Benchmarks]
      summary: Per-model comparison table
      description: Accuracy, latency, and cost per configured model endpoint.
      responses:
        '200':
          description: Model comparison rows.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BenchmarkModelComparison'
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{projectSlug}/schemas/{schemaSlug}/benchmarks/categories:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/SchemaSlug'
    get:
      operationId: getBenchmarkCategories
      tags: [Validate & Benchmarks]
      summary: Per-tag category breakdown
      responses:
        '200':
          description: Category cards.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BenchmarkCategoryBreakdown'
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{projectSlug}/schemas/{schemaSlug}/benchmarks/run:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/SchemaSlug'
    post:
      operationId: triggerBenchmarkRun
      tags: [Validate & Benchmarks]
      summary: Trigger a full benchmark run
      description: |
        Runs the entire corpus against every enabled model endpoint. Long-
        running — returns `202` with a run ID.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TriggerRunRequest'
      responses:
        '202':
          $ref: '#/components/responses/Accepted'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ==========================================================================
  # §3.7 Pipelines
  # ==========================================================================

  /projects/{projectSlug}/pipelines:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
    get:
      operationId: listPipelines
      tags: [Pipelines]
      summary: List pipelines
      description: Powers the **Pipelines** list.
      responses:
        '200':
          description: Pipelines.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PipelineSummary'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createPipeline
      tags: [Pipelines]
      summary: Create a pipeline from YAML
      description: Requires `pipeline-write`.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePipelineRequest'
      responses:
        '201':
          description: Pipeline created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pipeline'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /projects/{projectSlug}/pipelines/{pipelineSlug}:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/PipelineSlug'
    get:
      operationId: getPipeline
      tags: [Pipelines]
      summary: Pipeline detail
      description: |
        Powers the **Pipelines detail** page. Includes full config, stage
        diagram data, recent jobs, and rollup metrics.
      responses:
        '200':
          description: Pipeline.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pipeline'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updatePipeline
      tags: [Pipelines]
      summary: Update pipeline YAML
      description: Requires `pipeline-write`. The full YAML is replaced — no partial merges.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePipelineRequest'
      responses:
        '200':
          description: Pipeline updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pipeline'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      operationId: deletePipeline
      tags: [Pipelines]
      summary: Delete a pipeline
      responses:
        '204':
          description: Deleted.
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /projects/{projectSlug}/pipelines/{pipelineSlug}/run:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/PipelineSlug'
    post:
      operationId: runPipeline
      tags: [Pipelines]
      summary: Manual trigger — creates a job
      description: Requires `pipeline-write`. Creates a job and returns `202`.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManualRunRequest'
      responses:
        '202':
          $ref: '#/components/responses/Accepted'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /projects/{projectSlug}/pipelines/{pipelineSlug}/pause:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/PipelineSlug'
    post:
      operationId: pausePipeline
      tags: [Pipelines]
      summary: Pause pipeline triggers
      description: |
        Stops future trigger firings. In-flight jobs complete normally.
        Requires `pipeline-write`.
      responses:
        '200':
          description: Paused.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pipeline'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{projectSlug}/pipelines/{pipelineSlug}/resume:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/PipelineSlug'
    post:
      operationId: resumePipeline
      tags: [Pipelines]
      summary: Resume pipeline triggers
      responses:
        '200':
          description: Resumed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pipeline'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{projectSlug}/pipelines/{pipelineSlug}/stages/{stageName}:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/PipelineSlug'
      - $ref: '#/components/parameters/StageName'
    get:
      operationId: getPipelineStage
      tags: [Pipelines]
      summary: Stage-specific configuration
      description: |
        Powers the stage config panel on the Pipelines detail page (e.g. the
        classify stage's routing table).
      responses:
        '200':
          description: Stage config.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineStageConfig'
        '404':
          $ref: '#/components/responses/NotFound'

  # ==========================================================================
  # §3.8 Sources
  # ==========================================================================

  /projects/{projectSlug}/sources:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
    get:
      operationId: listSources
      tags: [Sources]
      summary: List sources
      responses:
        '200':
          description: Sources.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SourceSummary'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createSource
      tags: [Sources]
      summary: Create a source
      description: Requires `source-write`.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSourceRequest'
      responses:
        '201':
          description: Source created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'

  /projects/{projectSlug}/sources/{sourceSlug}:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/SourceSlug'
    get:
      operationId: getSource
      tags: [Sources]
      summary: Source detail
      responses:
        '200':
          description: Source.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateSource
      tags: [Sources]
      summary: Update source config
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSourceRequest'
      responses:
        '200':
          description: Updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteSource
      tags: [Sources]
      summary: Delete a source
      responses:
        '204':
          description: Deleted.
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{projectSlug}/sources/{sourceSlug}/test:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/SourceSlug'
    post:
      operationId: testSourceConnection
      tags: [Sources]
      summary: Test source connectivity
      description: |
        Verifies credentials and connectivity without consuming a document.
        For S3 watchers, performs a `ListObjectsV2`; for webhooks, returns the
        expected URL + signing secret; for email, verifies inbound routing.
      responses:
        '200':
          description: Test result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceTestResult'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{projectSlug}/sources/{sourceSlug}/pause:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/SourceSlug'
    post:
      operationId: pauseSource
      tags: [Sources]
      summary: Pause a source
      responses:
        '200':
          description: Paused.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{projectSlug}/sources/{sourceSlug}/resume:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/SourceSlug'
    post:
      operationId: resumeSource
      tags: [Sources]
      summary: Resume a source
      responses:
        '200':
          description: Resumed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{projectSlug}/sources/{sourceSlug}/ingestions:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/SourceSlug'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Since'
    get:
      operationId: listSourceIngestions
      tags: [Sources]
      summary: Recent ingestions for a source
      description: Powers the recent-ingestions list on the Sources detail page.
      responses:
        '200':
          description: Ingestions.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CursorPage'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Ingestion'
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{projectSlug}/sources/{sourceSlug}/webhook:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/SourceSlug'
    post:
      operationId: receiveSourceWebhook
      tags: [Sources]
      summary: Inbound webhook delivery (customer-facing)
      description: |
        The public webhook endpoint a customer configures in their upstream
        system. Signed payload verified via `X-Koji-Signature`. Successful
        deliveries create an ingestion record and enqueue the pipeline.

        **This endpoint is not authenticated with the normal `apiKey` or
        session flows — it uses per-source HMAC signatures.** Rate limits are
        per-source.
      security:
        - webhookSignature: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: |
                Free-form JSON payload. Consumed by the source's payload
                adapter to extract the document bytes or URL.
              additionalProperties: true
          application/octet-stream:
            schema:
              type: string
              format: binary
              description: Raw document bytes (for sources configured for binary payloads).
      responses:
        '202':
          description: Accepted for processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ingestion'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '413':
          description: Payload too large.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'

  # ==========================================================================
  # §3.9 Jobs
  # ==========================================================================

  /projects/{projectSlug}/jobs:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Since'
      - name: pipeline
        in: query
        required: false
        description: Filter by pipeline slug.
        schema:
          type: string
      - name: status
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/JobStatus'
    get:
      operationId: listJobs
      tags: [Jobs]
      summary: List jobs
      description: Powers the **Jobs** list.
      responses:
        '200':
          description: Jobs.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CursorPage'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/JobSummary'
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{projectSlug}/jobs/{jobSlug}:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/JobSlug'
    get:
      operationId: getJob
      tags: [Jobs]
      summary: Job detail
      description: Powers the **Job detail** page.
      responses:
        '200':
          description: Job.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{projectSlug}/jobs/{jobSlug}/docs:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/JobSlug'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
    get:
      operationId: listJobDocuments
      tags: [Jobs]
      summary: Documents processed within a job
      responses:
        '200':
          description: Documents.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CursorPage'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/DocumentSummary'
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{projectSlug}/jobs/{jobSlug}/retry:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/JobSlug'
    post:
      operationId: retryJob
      tags: [Jobs]
      summary: Retry a job
      description: |
        Re-runs the job. The body controls whether only failed documents are
        retried or the entire corpus. Requires `pipeline-write`.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetryJobRequest'
      responses:
        '202':
          $ref: '#/components/responses/Accepted'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /projects/{projectSlug}/jobs/{jobSlug}/cancel:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/JobSlug'
    post:
      operationId: cancelJob
      tags: [Jobs]
      summary: Cancel a running job
      description: |
        Sets the job to `cancel_requested`. The worker loop drains gracefully
        on the next poll.
      responses:
        '202':
          $ref: '#/components/responses/Accepted'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /projects/{projectSlug}/jobs/{jobSlug}/download:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/JobSlug'
      - name: format
        in: query
        required: true
        schema:
          type: string
          enum: [json, csv]
    get:
      operationId: downloadJobResults
      tags: [Jobs]
      summary: Download full job results
      description: |
        Streams the full extracted results for every document in the job as
        JSON or CSV. Large jobs may return a signed download URL instead of
        inlining the body.
      responses:
        '200':
          description: Result bundle.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResultsBundle'
            text/csv:
              schema:
                type: string
                format: binary
        '302':
          description: Redirect to a signed download URL (large jobs).
          headers:
            Location:
              schema:
                type: string
                format: uri
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{projectSlug}/jobs/{jobSlug}/stream:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/JobSlug'
    get:
      operationId: streamJobEvents
      tags: [Jobs]
      summary: Server-Sent Events stream for a job
      description: |
        Returns a `text/event-stream` connection that emits `stage.start`,
        `stage.complete`, `review.queued`, `review.resolved`, and `job.status`
        events as the job progresses. Clients should reconnect with
        exponential backoff on disconnect.
      responses:
        '200':
          description: SSE stream.
          content:
            text/event-stream:
              schema:
                $ref: '#/components/schemas/JobStreamEvent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ==========================================================================
  # §3.10 Document traces
  # ==========================================================================

  /projects/{projectSlug}/jobs/{jobSlug}/docs/{documentId}:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/JobSlug'
      - $ref: '#/components/parameters/DocumentId'
    get:
      operationId: getJobDocument
      tags: [Document traces]
      summary: Document metadata + extracted JSON + trace summary
      responses:
        '200':
          description: Document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{projectSlug}/jobs/{jobSlug}/docs/{documentId}/trace:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/JobSlug'
      - $ref: '#/components/parameters/DocumentId'
    get:
      operationId: getDocumentTrace
      tags: [Document traces]
      summary: Full document trace tree
      description: Powers the **Trace view** waterfall.
      responses:
        '200':
          description: Trace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trace'
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{projectSlug}/jobs/{jobSlug}/docs/{documentId}/trace/stages/{stageId}:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/JobSlug'
      - $ref: '#/components/parameters/DocumentId'
      - $ref: '#/components/parameters/StageId'
    get:
      operationId: getTraceStage
      tags: [Document traces]
      summary: Stage detail with all spans
      responses:
        '200':
          description: Stage.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TraceStage'
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{projectSlug}/jobs/{jobSlug}/docs/{documentId}/trace/stages/{stageId}/raw:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/JobSlug'
      - $ref: '#/components/parameters/DocumentId'
      - $ref: '#/components/parameters/StageId'
    get:
      operationId: getTraceStageRaw
      tags: [Document traces]
      summary: Raw prompt/response for a stage
      description: |
        Powers the expandable **Show raw** rows on the Trace view. Fetches
        the raw prompt text and raw LLM response for this stage's model call
        (if applicable). Raw blobs are cold-storage — retention is 90 days on
        hosted, 30 days on self-hosted default.
      responses:
        '200':
          description: Raw I/O.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TraceStageRawIO'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          description: Raw I/O retention expired.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'

  /projects/{projectSlug}/jobs/{jobSlug}/docs/{documentId}/original:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/JobSlug'
      - $ref: '#/components/parameters/DocumentId'
    get:
      operationId: getOriginalDocument
      tags: [Document traces]
      summary: Original uploaded document bytes
      responses:
        '200':
          description: Document bytes.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
            application/pdf:
              schema:
                type: string
                format: binary
        '302':
          description: Redirect to a signed storage URL.
          headers:
            Location:
              schema:
                type: string
                format: uri
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          description: Document retention expired.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'

  /traces/{traceExternalId}:
    parameters:
      - name: traceExternalId
        in: path
        required: true
        description: External trace ID (`trc_…`), as shown in the trace bar.
        schema:
          type: string
          pattern: '^trc_[A-Za-z0-9]+$'
    get:
      operationId: lookupTrace
      tags: [Document traces]
      summary: Universal trace-ID lookup
      description: |
        Powers the top-bar trace lookup. Resolves the trace across any project
        the current user can access. Returns `404` if the ID doesn't resolve
        or the caller lacks access (no leak of "exists but denied").
      responses:
        '200':
          description: Trace plus locator metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TraceLookupResult'
        '404':
          $ref: '#/components/responses/NotFound'

  # ==========================================================================
  # §3.11 Review queue
  # ==========================================================================

  /projects/{projectSlug}/review:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      - name: status
        in: query
        required: false
        schema:
          type: string
          enum: [pending, in_review, resolved, escalated]
      - name: assigned_to
        in: query
        required: false
        description: |
          Filter by assignee. Accepts a user ID or the literal value `me` for
          the current session user.
        schema:
          type: string
      - name: reason
        in: query
        required: false
        schema:
          type: string
          enum: [low_confidence, validation_failure, manual_flag]
      - name: sort
        in: query
        required: false
        schema:
          type: string
          enum: [oldest, newest, confidence_asc, confidence_desc]
          default: oldest
    get:
      operationId: listReviewItems
      tags: [Review queue]
      summary: List review queue items
      description: Powers the **Review** queue list.
      responses:
        '200':
          description: Review items.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CursorPage'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/ReviewItemSummary'
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{projectSlug}/review/{reviewId}:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/ReviewId'
    get:
      operationId: getReviewItem
      tags: [Review queue]
      summary: Review item detail
      description: Powers the **Review detail** page with full item context.
      responses:
        '200':
          description: Review item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewItem'
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{projectSlug}/review/{reviewId}/accept:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/ReviewId'
    post:
      operationId: acceptReviewItem
      tags: [Review queue]
      summary: Accept the model's extraction as-is
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReviewDecisionRequest'
      responses:
        '200':
          description: Resolved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewItem'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /projects/{projectSlug}/review/{reviewId}/override:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/ReviewId'
    post:
      operationId: overrideReviewItem
      tags: [Review queue]
      summary: Override the extracted value
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReviewOverrideRequest'
      responses:
        '200':
          description: Resolved with override.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewItem'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /projects/{projectSlug}/review/{reviewId}/skip:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/ReviewId'
    post:
      operationId: skipReviewItem
      tags: [Review queue]
      summary: Skip without resolving
      responses:
        '200':
          description: Skipped.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewItem'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{projectSlug}/review/{reviewId}/escalate:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/ReviewId'
    post:
      operationId: escalateReviewItem
      tags: [Review queue]
      summary: Escalate to another reviewer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReviewEscalateRequest'
      responses:
        '200':
          description: Escalated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewItem'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{projectSlug}/review/{reviewId}/assign:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/ReviewId'
    post:
      operationId: assignReviewItem
      tags: [Review queue]
      summary: Assign to a specific reviewer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReviewAssignRequest'
      responses:
        '200':
          description: Assigned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewItem'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{projectSlug}/review/bulk-approve:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
    post:
      operationId: bulkApproveReview
      tags: [Review queue]
      summary: Bulk approve review items
      description: Requires `review-admin`. Audit-logged. Approves up to 1000 items per call.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkApproveRequest'
      responses:
        '200':
          description: Bulk result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkApproveResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ==========================================================================
  # §3.12 Model endpoints
  # ==========================================================================

  /projects/{projectSlug}/endpoints:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
    get:
      operationId: listModelEndpoints
      tags: [Model endpoints]
      summary: List configured model endpoints
      responses:
        '200':
          description: Endpoints.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ModelEndpointSummary'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createModelEndpoint
      tags: [Model endpoints]
      summary: Create a model endpoint
      description: Requires `endpoint-write`. Secrets are write-only.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateModelEndpointRequest'
      responses:
        '201':
          description: Endpoint created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelEndpoint'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'

  /projects/{projectSlug}/endpoints/{endpointSlug}:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/EndpointSlug'
    get:
      operationId: getModelEndpoint
      tags: [Model endpoints]
      summary: Endpoint detail
      description: Powers the **Settings → Endpoints detail** page.
      responses:
        '200':
          description: Endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelEndpoint'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateModelEndpoint
      tags: [Model endpoints]
      summary: Update an endpoint
      description: Requires `endpoint-write`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateModelEndpointRequest'
      responses:
        '200':
          description: Updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelEndpoint'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteModelEndpoint
      tags: [Model endpoints]
      summary: Delete an endpoint
      description: Fails with `409` if still referenced by active pipelines or schemas.
      responses:
        '204':
          description: Deleted.
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /projects/{projectSlug}/endpoints/{endpointSlug}/test:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/EndpointSlug'
    post:
      operationId: testModelEndpoint
      tags: [Model endpoints]
      summary: Test connectivity with a trivial call
      responses:
        '200':
          description: Test result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointTestResult'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{projectSlug}/endpoints/{endpointSlug}/usage:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/EndpointSlug'
      - name: range
        in: query
        required: false
        schema:
          type: string
          enum: [24h, 7d, 30d, 90d]
          default: 30d
    get:
      operationId: getModelEndpointUsage
      tags: [Model endpoints]
      summary: Per-endpoint usage and cost rollup
      description: |
        Powers the usage card + sparkline on the endpoint detail page. Pulls
        from the `endpoint_usage_rollups` table.
      responses:
        '200':
          description: Usage rollup.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointUsage'
        '404':
          $ref: '#/components/responses/NotFound'

  # ==========================================================================
  # §3.13 Agent
  # ==========================================================================

  /projects/{projectSlug}/agent/session:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
    post:
      operationId: createAgentSession
      tags: [Agent]
      summary: Create or resume an agent session
      description: |
        Sessions are per-user per-context. Calling with the same `(context,
        entity_id)` pair as an active session resumes it instead of creating a
        new one.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgentSessionRequest'
      responses:
        '200':
          description: Session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentSession'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{projectSlug}/agent/sessions/{agentSessionId}:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/AgentSessionId'
    delete:
      operationId: deleteAgentSession
      tags: [Agent]
      summary: End an agent session
      responses:
        '204':
          description: Archived.
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{projectSlug}/agent/sessions/{agentSessionId}/history:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/AgentSessionId'
    get:
      operationId: getAgentSessionHistory
      tags: [Agent]
      summary: Message history for a session
      responses:
        '200':
          description: Messages.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AgentMessage'
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{projectSlug}/agent/sessions/{agentSessionId}/message:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/AgentSessionId'
    post:
      operationId: sendAgentMessage
      tags: [Agent]
      summary: Send a user message; receive an SSE response stream
      description: |
        Accepts a user message and returns a `text/event-stream` response. The
        stream emits `token`, `tool_call`, `tool_result`, `proposed_edit`, and
        `done` events.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentMessageRequest'
      responses:
        '200':
          description: SSE stream.
          content:
            text/event-stream:
              schema:
                $ref: '#/components/schemas/AgentStreamEvent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  /projects/{projectSlug}/agent/sessions/{agentSessionId}/accept-edit:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/AgentSessionId'
    post:
      operationId: acceptAgentEdit
      tags: [Agent]
      summary: Accept a proposed edit
      description: Requires the role that owns the target resource (e.g. `schema-write`).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentEditDecisionRequest'
      responses:
        '200':
          description: Edit applied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentProposedEdit'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /projects/{projectSlug}/agent/sessions/{agentSessionId}/reject-edit:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/AgentSessionId'
    post:
      operationId: rejectAgentEdit
      tags: [Agent]
      summary: Reject a proposed edit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentEditDecisionRequest'
      responses:
        '200':
          description: Edit rejected.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentProposedEdit'
        '404':
          $ref: '#/components/responses/NotFound'

  # ==========================================================================
  # §3.14 Playground (anonymous)
  # ==========================================================================

  /playground/extract:
    post:
      operationId: playgroundExtract
      tags: [Playground]
      summary: Anonymous extraction
      description: |
        Public extraction demo. Strict rate limits: 3/hour per anonymous IP,
        10/hour per free-tier authenticated user. Only the free-tier model is
        used — callers cannot specify a model endpoint.

        Documents are held for 24 hours then deleted from storage.
      security: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                schema_yaml:
                  type: string
                  description: Optional schema YAML to run. If omitted, a default template is used.
      responses:
        '200':
          description: Extraction result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaygroundResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '413':
          description: File too large (5 MB max).
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'

  /playground/propose-schema:
    post:
      operationId: playgroundProposeSchema
      tags: [Playground]
      summary: Anonymous schema suggestion
      description: |
        Given an uploaded document, the agent returns a starter schema YAML
        the caller can iterate on. Subject to the same rate limits as
        `/playground/extract`.
      security: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: Proposed schema.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaygroundProposedSchema'
        '400':
          $ref: '#/components/responses/BadRequest'
        '413':
          description: File too large.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          $ref: '#/components/responses/RateLimited'

  /playground/promote:
    post:
      operationId: playgroundPromote
      tags: [Playground]
      summary: Promote a Playground session to a project schema
      description: |
        Copies the Playground schema + sample into a real project and creates
        a new schema. Requires an authenticated user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlaygroundPromoteRequest'
      responses:
        '201':
          description: Schema created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ==========================================================================
  # §3.15 Audit log
  # ==========================================================================

  /projects/{projectSlug}/audit:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Since'
      - name: actor
        in: query
        required: false
        description: Filter by actor (user ID, API key ID, or `system`).
        schema:
          type: string
      - name: action
        in: query
        required: false
        description: Filter by action name (e.g. `schema.deploy`).
        schema:
          type: string
      - name: resource_type
        in: query
        required: false
        schema:
          type: string
      - name: resource_id
        in: query
        required: false
        schema:
          type: string
    get:
      operationId: listAuditLog
      tags: [Audit log]
      summary: Read the audit log
      description: Requires `project-admin`.
      responses:
        '200':
          description: Entries.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CursorPage'
                  - type: object
                    required: [data]
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/AuditLogEntry'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{projectSlug}/audit/export:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
      - name: format
        in: query
        required: true
        description: Export format. `cef` is Splunk-flavoured CEF; `jsonl` is newline-delimited JSON.
        schema:
          type: string
          enum: [cef, jsonl]
      - $ref: '#/components/parameters/Since'
    get:
      operationId: exportAuditLog
      tags: [Audit log]
      summary: Bulk export for SIEM ingestion
      description: |
        Streams the audit log for the requested window. Enterprise-only for
        CEF format. Requires `project-admin`.
      responses:
        '200':
          description: Export stream.
          content:
            application/x-ndjson:
              schema:
                type: string
            text/plain:
              schema:
                type: string
                description: CEF-formatted records, one per line.
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ==========================================================================
  # §3.16 API keys
  # ==========================================================================

  /projects/{projectSlug}/api-keys:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
    get:
      operationId: listApiKeys
      tags: [API keys]
      summary: List API keys for a project
      description: |
        Requires `project-admin`. The full token is **never** returned here —
        only the prefix (e.g. `kj_live_a91c`) and metadata.
      responses:
        '200':
          description: Keys.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApiKey'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createApiKey
      tags: [API keys]
      summary: Create a new API key
      description: |
        Returns the full token **once** in the response. It is never returned
        again and cannot be recovered — the caller must store it immediately.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApiKeyRequest'
      responses:
        '201':
          description: API key created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyCreated'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'

  /projects/{projectSlug}/api-keys/{apiKeyId}:
    parameters:
      - $ref: '#/components/parameters/ProjectSlug'
[...]
